* {
  margin: 0;
  padding: 0;
}

.mapout {
  margin: -24px;
  height: calc(100vh - 64px);
  overflow: hidden;
  font-size: 14px;
  font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑,
  STHeiti, MingLiu;
}

.fengMap {
  width: calc(100% + 48px);
  height: 100%;
  position: absolute;
  overflow: hidden;
  touch-action: none;
  -ms-touch-action: none;
}

.fenceModal {
  position: absolute;
  right: 0;
  top: 20px;
  display: none;
  background-color:rgba(8,20,42,0.6);
  color: white;
  padding: 10px;
  width: 300px;
}

.vRight {
  float: right;
}

.vRightD {
  float: right;
  width: 220px;
}

.fengge {
  margin: 10px 0;
}
